<html>

<head>
    <!-- Ta inte bort det här skriptet -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <!-- Lägg din html innanför div-taggen med id="app" -->
    <div id="app">
        <h1 v-if="selectedPolitiker">
            {{selectedPolitiker.party}}</h1>
        <politiker-item-component v-for="politiker in politikerList" @getpolitiker="visaPolitiker"
            :politiker="politiker" :key="politiker.id">
        </politiker-item-component>
    </div>

    <!-- Lägg din javascript innanför script-taggen -->
    <script>
        var PolitikerItemComponent = {
            template: `
                <h1>{{politiker.firstName}} {{politiker.lastName}} <button @click="skicka">Visa Parti</button></h1>
            `,
            props: ['politiker'],
            methods: {
                skicka() {
                    this.$emit('getpolitiker', this.politiker)
                }
            }
        }

        var app = new Vue({
            el: '#app',
            components: {
                PolitikerItemComponent
            },
            data: {
                selectedPolitiker: null,
                politikerList: [
                    { id: 1, firstName: 'Stefan', lastName: 'Löven', party: 'Socialdemokraterna' },
                    { id: 2, firstName: 'Annie', lastName: 'Lööv', party: 'Centerpartiet' },
                    { id: 3, firstName: 'Nyamko', lastName: 'Sabuni', party: 'Liberalerna' },
                    { id: 4, firstName: 'Jimmie', lastName: 'Åkesson', party: 'Sverigedemokraterna' },
                    { id: 5, firstName: 'Per', lastName: 'Bolund', party: 'Mijlöpartiet' },
                ]
            },
            methods: {
                visaPolitiker(value) {
                    this.selectedPolitiker = value
                }
            }
        })
    </script>

</body>

</html>